{% extends "base_two.html" %}

{% block content2 %}
    {% set all_prof = ['врач', "экзобиолог", "климатолог", "астрогеолог", "гляциолог", "метеоролог",
                       'инженер-исследователь', "пилот", "строитель", "инженер по терраформированию",
                       "специалист по радиационной защите", "инженер жизнеобеспечения", "оператор марсохода",
                       "киберинженер", "штурман", "пилот дронов"] %}
    {% if var == "ol" %}
        <p class="h1">Список профессий</p>
        <div class="container">
            <ol>
                {% for p in all_prof %}
                    <li class="h5">{{p}}</li>
                {% endfor %}
            </ol>
        </div>
    {% elif var == "ul" %}
        <p class="h1">Список профессий</p>
        <div class="container">
            {% for p in all_prof %}
                <li class="h5">{{p}}</li>
            {% endfor %}
        </div>
    {% else %}
        <p class="h1">Индекс указан неправильно!</p>
    {% endif %}
{% endblock %}